/* 
    General Styles
*/
body{
    background-color: black;
}

.logostarwars{
    display:flex;
    height: 90px;
    padding-left: 15px;
}
.botonfavoritos{
    margin-right: 15px;
}
.titulo_characters{
    color: rgb(175, 37, 37);
   float:left;
   margin:10px;
   /* margin-top:20px; */
}
.carta{
    width: 250px;
    margin:20px;
}
.cartas{
    margin-top:20px;
}
.like{
    width: 35px;
    border: 1px solid rgb(235, 235, 46);
    border-radius: 5px;
    float: right; 
    background-color: white;

}
.like:hover{
    background-color: rgb(235, 235, 46);

}
.likeinterior{
    color: rgba(255, 255, 255, 0.815);
}

.likeinterior:hover{
    color: rgba(31, 29, 29, 0.815);
}
.like:active{
    box-shadow:  0 0 0 5px rgb(247, 228, 65);
  
}
.heart{
    color:rgb(235, 235, 46)
}
.learnMore{
    width: 150px;
    border: 1px solid lightseagreen;
    border-radius: 5px;
    float: left;
    background-color: white;
    color:lightseagreen;
}
.learnMore:hover{
    background-color: dodgerblue;
    color:white;
}
.linkLearnMore{
    color:lightseagreen;
}
.linkLearnMore:hover{
    color:white;
}
.link-fav{
    margin-left: 3px;
    text-decoration: none;
}
.btn-fav{
    border: none;
    float:right;
    margin-right: 2px;
    margin-left: 2px;
}
.listaDesplFav{
    margin-top:60px;
}
.detallesdecarta{
    margin-top:90px;
}
.titulodetallecarta{
    color:rgb(233, 233, 58);
}
col-2, p{
    color:white;
}
span{
    color:rgb(233, 233, 58);
}
.imagendetalle{
border-radius: 10px;
}

